---
layout: default
title: Venelin Mitov
categories:
 - home
---

<div class="row">
	<div class="col-md-12">
		<!--<object class="pull-right smallnote" data="/images/VenelinMitov.png" type="image/png"></object>-->
		<object class="pull-right smallportrait" data="/images/VenelinMitov1.png" type="image/png"></object>
		<br/><br/><br/><br/>
		<h1>Welcome!</h1>
	</div>
</div>


<!--<div class="row">
	<div class="col-md-12">
		<object class="pull-right smallportrait" data="/images/VenelinMitov.jpg" type="image/jpg"></object>
	</div>
</div>-->


<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="smallhead">
      <p>       
        This is my portfolio website, listing 
my publications and public software projects. 
      </p>

<div class="spacer"></div>

      <p>Currently, I work as a modeling and simulation
 scientist at 
<a href="http://intiquan.com">IntiQuan</a>. I conduct
modeling and simulation analyses across all
phases of drug discovery and development, 
with emphasis on:
<ul>
<li>Systems pharmacology models;</li>
<li>Population PK and PK/PD models;</li>
<li>Statistical analyses.</li>
</ul>
      </p>

<div class="spacer"></div>

<p>
Previously, I've completed a PhD and a year
of postdoctoral research in mathematical modeling with 
applications to evolutionary biology at <a href="http://www.bsse.ethz.ch/cevo">ETH Zurich</a>. 
        I have studied the evolution of biological traits, such as 
morphological characters of animal or plant species, protein 
expression levels of cells, virulence traits of patients suffering 
an infection, and others. A common feature of these systems is 
that biological units like species, cells or viruses are connected 
by phylogenetic trees representing their ancestry or transmission 
history. This allows us to use so called phylogenetic comparative 
models (PCMs) to detect patterns of trait evolution and interaction. 
In my PhD and postdoc, I have developed methods and tools
facilitating the 
application of such models to big data. I continue
working on these tools in my spare time.
      </p>
		</div>
	</div>
</div>

<div class="bigspacer"></div>
<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/pdfs/cv/cv-short.pdf">CV</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/publications">Recent papers</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for paper in site.categories.papers limit:4 %}
	<div class="col-md-8 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ paper.url }}">
				{{ paper.title }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Posted
				{{ paper.date | date: "%-d %b %Y" }}
			</div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>

<div class="spacer"></div>

<div class="row">
	<div class="col-md-12">
		<div class="head">
			<a class="off" href="/projects/">Active projects</a>
		</div>
		<div class="spacer"></div>
	</div>
</div>

<div class="row">
	{% for project in site.data.projects limit:3 %}
	<div class="col-md-4 reduced-gutter">
		<div class="pad-left">
			<div class="note">
				<i class="fa fa-edit fa-fw"></i>
				<a class="off" href="{{ project.url }}">
				{{ project.title }} - {{ project.description }}
				</a>
			</div>
			<div class="smallspacer"></div>
			<div class="smallnote">
				Updated
				<a class="off" href="{{ project.commits.first.url }}">
				{{ project.commits.first.date | date: "%-d %b %Y" }}
				</a>
				by
				<a class="off" href="{{ project.commits.first.author_url }}">
				{{ project.commits.first.author_login }}
				</a>
			</div>
			<div class="smallnote">
				{% if site.travisbuild contains project.title %}  
				    <div class="smallspacer"></div>
				    <a href="https://travis-ci.com/venelin/{{ project.title }}"><img src="https://travis-ci.com/venelin/{{ project.title }}.svg?branch=master"></a>
				    
				{% endif %}
				{% if site.cranpackages contains project.title %}
				  <div class="smallspacer"></div>
				  <a href="https://cran.r-project.org/package={{ project.title }}"><img src="http://www.r-pkg.org/badges/version/{{ project.title }}?color=blue"></a>
			    <div class="smallspacer"></div>
			    <a href="https://cran.r-project.org/package={{ project.title }}"><img src="http://cranlogs.r-pkg.org/badges/{{ project.title }}?color=blue"></a>
			  {% endif %}
			  </div>
			<div class="bigspacer"></div>
		</div>
	</div>
	{% endfor %}
</div>




