---
layout: default
---

<div class="row">
	<div class="col-md-12">
		<div class="media">
			{% if page.image %}
			<img class="pull-left pad-right media-object" src="{{ page.image }}" style="width:120px;">
			{% endif %}
			<div class="media-body titlebox">
				<div class="title media-heading">
					{{ page.title }}
				</div>
				<p>
				<div class="smallhead">
					{{ page.authors }}
					{{ page.eventabbrev }},
					{{ page.month }}
					{{ page.year }}.
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bigspacer"></div>

<div class="row">
	<div class="col-md-3">
		<div class="bigspacer"></div>
		<div class="glyphbox note">
			{% if page.pdf %}
			<div class="smallhead">
				SLIDES
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ page.pdf }}">{{ page.pdf | split: '/' | last }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.reveal %}
			<div class="smallhead">
				SLIDES
			</div>
			<div class="pad-left note">
				<div class="smallspacer"></div>
				<i class="fa fa-file-text-o fa-fw"></i>
				<a class="off" href="{{ page.reveal }}">{{ page.reveal }}</a>
			</div>
			<div class="bigspacer"></div>
			{% endif %}
			{% if page.event %}
			<div class="smallhead">
				EVENT
			</div>
  			<div class="pad-left note">
				<div class="smallspacer"></div>
				{{ page.event }}, {{ page.month }}, {{ page.year }}
			</div>
			<div class="bigspacer"></div>
			{% endif %}
		</div>
	</div>
	<div class="col-md-8">
		<div class="post">
			{{ content }}
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
